<div class="row justify-content-center">
    <div class="col-md-10">
        <h2 style="text-align: center;">
            Family Members
        </h2>
        <hr>
        <div class="d-flex justify-content-center">
            <h2 class="badge badge-pill bg-info p-3" style="font-size: 20px;">
                Members
            </h2>
        </div>
        <div class="mt-2">
        <div class="d-flex">
            <div class="shadow col-5 p-1 bg-secondary" style="text-align: center; font-size:18px;">
                Member's Name
            </div>
            <div class="shadow col-3 p-1 bg-success" style="text-align: center; font-size:18px;">
                Relations
            </div>
            <div class="shadow col-3 p-1 bg-primary" style="text-align: center; font-size:18px;">
                Access Type
            </div>
            <div class="col-1 p-1" style="text-align: center; font-size:18px;">
            
            </div>
        </div>

        <div class="d-flex mt-2">
            <div class="shadow col-5 p-1" style="text-align: center; font-size:15px;">
                Golam Mostafa
            </div>
            <div class="shadow col-3 p-1" style="text-align: center; font-size:15px;">
                Brother
            </div>
            <div class="shadow col-3 p-1" style="text-align: center; font-size:15px;">
                Root
            </div>
            <div class="shadow col-1 p-0" style="text-align: center; font-size:25px;">
                <a href="#" class="badge"><i class="fa fa-times"></i></a>
            </div>
        </div>

        <div class="d-flex mt-2">
                <div class="shadow col-5 p-1" style="text-align: center; font-size:15px;">
                    Ikhtier Uddin Mohammad Bin Khilji
                </div>
                <div class="shadow col-3 p-1" style="text-align: center; font-size:15px;">
                    Uncle
                </div>
                <div class="shadow col-3 p-1" style="text-align: center; font-size:15px;">
                    Priliminary
                </div>
                <div class="shadow col-1 p-0" style="text-align: center; font-size:25px;">
                    <a href="#" class="badge"><i class="fa fa-times"></i></a>
                </div>
            </div>

        <div class="d-flex justify-content-center mt-5">
            <div class="d-flex">
                <!-- style="cursor: pointer;" onclick="window.location='#!registerVehicle'" -->
                <a href="#!registerFamilyMember" style="text-decoration: none;">
                    <i style="font-size:100px;" class="fa fa-user-plus"></i><br>
                    <h5 class="bold ml-1">Add Member</h5>
                </a>

            </div>
        </div>
        <br>


    </div>
</div>