<div class="row justify-content-center">
        <div class="col-md-10">
            <h2 style="text-align: center;">
                Hire New Help
            </h2>
            <hr>
            <div class="d-flex justify-content-center">
                <h2 class="badge badge-pill bg-info p-2" style="font-size: 20px;">
                    New Helps
                </h2>
            </div>
    
            <div class="d-flex mt-5 justify-content-around">
                    <div class="card border-0">
                        <!-- <div class="datasets-row card-body ml-2 shadow" style="width: 150px; height:150px;"> -->
                        <div class="datasets-row shadow card-body" style="width: 190px; height:190px;">
                            <a href="#!dailyHelps" style="text-decoration: none;">
                                <img class="p-4" style="width:150px; height:150px;" src="resources/logos/occupation.png">
                                <!-- <h5 class="mt-0">Service Provider</h5> -->
                            </a>
                        </div>
                        <div class="card-header border-light mt-0" style="width: 190px; height:40px;">
                            <h5 style="text-align: center" class="text-muted"> Maid </h5>
                        </div>
                    </div>
        
                    <div class="card border-0">
                        <!-- <div class="datasets-row card-body ml-2 shadow" style="width: 150px; height:150px;"> -->
                        <div class="datasets-row shadow card-body" style="width: 190px; height:190px;">
                            <a href="#!dailyHelps" style="text-decoration: none;">
                                <img class="p-4" style="width:150px; height:150px;" src="resources/logos/doctor.png">
                                <!-- <h5 class="mt-0">Service Provider</h5> -->
                            </a>
                        </div>
                        <div class="card-header border-light mt-0" style="width: 190px; height:40px;">
                            <h5 style="text-align: center" class="text-muted"> Doctor </h5>
                        </div>
                    </div>
                </div>
        
        
        
                <br>
                <div class="d-flex mt-5 justify-content-around">
                    <div class="card border-0">
                        <!-- <div class="datasets-row card-body ml-2 shadow" style="width: 150px; height:150px;"> -->
                        <div class="datasets-row shadow card-body" style="width: 190px; height:190px;">
                            <a href="#!dailyHelps" style="text-decoration: none;">
                                <img class="p-4" style="width:150px; height:150px;" src="resources/logos/police-officer.png">
                                <!-- <h5 class="mt-0">Service Provider</h5> -->
                            </a>
                        </div>
                        <div class="card-header border-light mt-0" style="width: 190px; height:40px;">
                            <h5 style="text-align: center" class="text-muted"> Police Officer </h5>
                        </div>
                    </div>
        
                    <div class="card border-0">
                            <!-- <div class="datasets-row card-body ml-2 shadow" style="width: 150px; height:150px;"> -->
                            <div class="datasets-row shadow card-body" style="width: 190px; height:190px;">
                                <a href="#!dailyHelps" style="text-decoration: none;">
                                    <img class="p-4" style="width:150px; height:150px;" src="resources/logos/taxi3-512.png">
                                    <!-- <h5 class="mt-0">Service Provider</h5> -->
                                </a>
                            </div>
                            <div class="card-header border-light mt-0" style="width: 190px; height:40px;">
                                <h5 style="text-align: center" class="text-muted"> Taxi Cab </h5>
                            </div>
                        </div>
                </div>
        
                <br>
                <div class="d-flex mt-5 justify-content-around">
                    <div class="card border-0">
                        <!-- <div class="datasets-row card-body ml-2 shadow" style="width: 150px; height:150px;"> -->
                        <div class="datasets-row shadow card-body" style="width: 190px; height:190px;">
                            <a href="#!dailyHelps" style="text-decoration: none;">
                                <img class="p-4" style="width:150px; height:150px;" src="resources/logos/admin.png">
                                <!-- <h5 class="mt-0">Service Provider</h5> -->
                            </a>
                        </div>
                        <div class="card-header border-light mt-0" style="width: 190px; height:40px;">
                            <h5 style="text-align: center" class="text-muted"> Admin Panel </h5>
                        </div>
                    </div>
        
                    <div class="card border-0">
                        <!-- <div class="datasets-row card-body ml-2 shadow" style="width: 150px; height:150px;"> -->
                        <div class="datasets-row shadow card-body" style="width: 190px; height:190px;">
                            <a href="#!dailyHelps" style="text-decoration: none;">
                                <img class="p-4" style="width:150px; height:150px;" src="resources/logos/others.png">
                                <!-- <h5 class="mt-0">Service Provider</h5> -->
                            </a>
                        </div>
                        <div class="card-header border-light mt-0" style="width: 190px; height:40px;">
                            <h5 style="text-align: center" class="text-muted"> Others </h5>
                        </div>
                    </div>

                    
                </div>
        
        
                    <div class="mt-5"></div>
                    <br>
                    <div class="col-md-12">
                        <div class="d-flex justify-content-center mt-5">
                                <div type="" class="" data-toggle="modal" data-target="#addnewhelp">

                            <div class="d-flex">
                               
                                <div style="text-decoration: none; cursor: pointer;">
                                    <i style="font-size:100px;" class="fa fa-user-plus"></i><br>
                                        <h5 class="bold ml-1">AddNewHelp</h5>
                                </div>
                                </div>
                
                            </div>
                        </div>
                    </div>
                    
        </div>
        
    </div>
    <div class="modal fade" id="addnewhelp" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document" style="max-width: 800px;">
          <div class="modal-content" style="background-color:gainsboro;">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">AddNewHelp</h5>
            </div>
            <div>
                    <form class="form-inline" style="margin-left: 100px;margin-top: 20px;">
                            <input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>
            <div class="modal-body" style="background-color: darkgray" >
                    <div class="row justify-content-center">
                            <div class="col-md-10">
                                <h2 style="text-align: center;">
                                    New Help
                                </h2>
                                <hr>
                                <div class="d-flex justify-content-center">
                                    <h2 class="badge badge-pill bg-info p-3" style="font-size: 20px;">
                                        Register A New Help
                                    </h2>
                                </div>
                                <div class="mt-2"></div>
                                <form class="mt-3" action="" method="GET">
                                    <div class="form-group">
                                        <label>
                                            <h5>Type</h5>
                                        </label>
                                        <input type="text" class="form-control" name="vehicleNumber" placeholder="Type of services">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <h5>Name</h5>
                                        </label>
                                        <input type="text" class="form-control" name="vehicleNumber" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                            <label>
                                                <h5>Phone_number</h5>
                                            </label>
                                            <input type="text" class="form-control" name="vehicleNumber" placeholder="Phone_number">
                                        </div>
                                    <div class="d-flex justify-content-center">
                                        <a href="#!/dailyHelps" target="_top">
                                        <div class="btn btn-sm btn-outline-success" style="border-radius: 10%;">
                                            Add
                                        </div>
                                    </a>
                                    </div>
                                </form>
                        
                                <br>
                        
                        
                            </div>
                        </div>
                    
                
                      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             
            </div>
          </div>
        </div>
      </div>
    
    <style>
        .datasets-row:hover {
            background-color: rgb(224, 226, 226);
    
        }
    </style>