<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>

</head>
<div class="container">
    <div class="row">
        <div class="col-md-3 my-2"></div>
        <div class="col-md-6 my-2">
            <div class="area text-light">
                <h2>Welcome!</h2>
                <div class="mt-3">
                    <a href="sign.html" style="text-decoration: none"><p class="text-light">Manage entrance,parking,security<br> etc.<br>in your building from one single point<br>
                        .Enjoy your convenience<br>By our website
                    </p></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 my-2"></div>
    </div>
</div>
</body>
</html>
