<div class="row justify-content-center">
    <div class="col-md-10">
        <h2 style="text-align: center;">
            SOS
        </h2>
        <hr>
        <div class="d-flex justify-content-center">
            <h2 class="badge badge-pill bg-info p-2" style="font-size: 20px;">
                Emergency Call
            </h2>
        </div>

        <br>
        <div class="d-flex mt-5 justify-content-around">
            <div class="card border-0">
                <div class="datasets-row shadow card-body" style="width: 190px; height:190px;">
                    <a style="text-decoration: none;">
                        <img class="p-4" style="width:150px; height:150px;" src="resources/logos/management.png">
                        <!-- <h5 class="mt-0">Service Provider</h5> -->
                    </a>
                </div>
                <div class="card-header border-light mt-0" style="width: 190px; height:40px;">
                    <a href="#" style="color: black; text-align: center; text-decoration: none;"
                        class="d-flex justify-content-center p-1 rounded bg-danger"> Call Manager </a>
                </div>
            </div>

            <div class="card border-0">
                <div class="datasets-row shadow card-body" style="width: 190px; height:190px;">
                    <a style="text-decoration: none;">
                        <img class="p-4" style="width:150px; height:150px;" src="resources/logos/police-officer.png">
                    </a>
                </div>
                <div class="card-header border-light mt-0" style="width: 190px; height:40px;">
                    <a href="#" style="color: black; text-align: center; text-decoration: none;"
                        class="d-flex justify-content-center p-1 rounded bg-danger"> Call Police </a>
                </div>
            </div>
        </div>


        <br>
        <div class="d-flex mt-5 justify-content-around">
            <div class="card border-0">
                <div class="datasets-row shadow card-body" style="width: 190px; height:190px;">
                    <a style="text-decoration: none;">
                        <img class="p-4" style="width:150px; height:150px;" src="resources/logos/doctor.png">
                        <!-- <h5 class="mt-0">Service Provider</h5> -->
                    </a>
                </div>
                <div class="card-header border-light mt-0" style="width: 190px; height:40px;">
                    <a href="#" style="color: black; text-align: center; text-decoration: none;"
                        class="d-flex justify-content-center p-1 rounded bg-danger"> Call Doctor </a>
                </div>
            </div>

            <div class="card border-0">
                <div class="datasets-row shadow card-body" style="width: 190px; height:190px;">
                    <a style="text-decoration: none;">
                        <img class="p-4" style="width:150px; height:150px;" src="resources/logos/admin.png">
                    </a>
                </div>
                <div class="card-header border-light mt-0" style="width: 190px; height:40px;">
                    <a href="#" style="color: black; text-align: center; text-decoration: none;"
                        class="d-flex justify-content-center p-1 rounded bg-danger"> Call Admin </a>
                </div>
            </div>
        </div>

        <div class="mt-5"></div>

        <br>
    </div>
</div>

<style>
    .datasets-row:hover {
        background-color: rgb(224, 226, 226);

    }
</style>