body {
    background-image: url("../IMG/welcome.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-color: #000000;
}

.area {
    margin: 60px auto 0;
    position: relative;
    background: rgba(30, 30, 30, 0.4);
    text-align: center;
    padding: 35px;
    border: 2px solid #474c78;
    -webkit-border-radius: 70px 0 70px 0;
    -moz-border-radius: 70px 0 70px 0;
    border-radius: 70px 0 70px 0;
}