<div class="row justify-content-center">
    <div class="col-md-10">
        <h2 style="text-align: center;">
            Residence People
        </h2>
        <hr>
        <div class="d-flex justify-content-center">
            <h2 class="badge badge-pill bg-info p-3" style="font-size: 20px;">
                Block A | Total: 50
            </h2>
        </div>
        <br>
        <div class="d-flex">
            <table class="table table-striped">
                <thead>
                    <tr class="bg-secondary" style="text-align: center">
                        <td>0th Floor</td>
                        <td>Flat No</td>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align: center">
                        <td>
                            <img src="resources/logos/default.jpg" style="width: 25px; height:25px; border-radius:50%;">
                            <span class="ml-1">Ahmed Bin Ikhtier Uddin Mohammad bin Khilzi</h5>
                        </td>
                        <td> Flat No 01 </td>
                    </tr>
                    <tr style="text-align: center">
                        <td>
                            <img src="resources/logos/default.jpg" style="width: 25px; height:25px; border-radius:50%;">
                            <span class="ml-1">Ahmed Bin Ikhtier Uddin Mohammad bin Khilzi</h5>
                        </td>
                        <td> Flat No 03 </td>
                    </tr>
                    <tr style="text-align: center">
                        <td>
                            <img src="resources/logos/default.jpg" style="width: 25px; height:25px; border-radius:50%;">
                            <span class="ml-1">Ahmed Bin Ikhtier Uddin Mohammad bin Khilzi</h5>
                        </td>
                        <td> Flat No 07 </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br>

        <div class="d-flex">
                <table class="table table-striped">
                    <thead>
                        <tr class="bg-secondary" style="text-align: center">
                            <td>1th Floor</td>
                            <td>Flat No</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: center">
                            <td>
                                <img src="resources/logos/default.jpg" style="width: 25px; height:25px; border-radius:50%;">
                                <span class="ml-1">Ahmed Bin Ikhtier Uddin Mohammad bin Khilzi</h5>
                            </td>
                            <td> Flat No 01 </td>
                        </tr>
                        <tr style="text-align: center">
                            <td>
                                <img src="resources/logos/default.jpg" style="width: 25px; height:25px; border-radius:50%;">
                                <span class="ml-1">Ahmed Bin Ikhtier Uddin Mohammad bin Khilzi</h5>
                            </td>
                            <td> Flat No 03 </td>
                        </tr>
                        <tr style="text-align: center">
                            <td>
                                <img src="resources/logos/default.jpg" style="width: 25px; height:25px; border-radius:50%;">
                                <span class="ml-1">Ahmed Bin Ikhtier Uddin Mohammad bin Khilzi</h5>
                            </td>
                            <td> Flat No 07 </td>
                        </tr>
                    </tbody>
                </table>
            </div>

<br>

    </div>
    <br>
</div>