<div class="row justify-content-center">
    <div class="col-md-10">
        <h2 style="text-align: center;">
            Daily Helps
        </h2>
        <hr>
        <div class="d-flex justify-content-center">
            <h2 class="badge badge-pill bg-info p-3" style="font-size: 20px;">
                All Helps
            </h2>
        </div>
        <div class="mt-4"></div>

        <div class="shadow input-group">
                <div class="input-group-append">
                    <button class="input-group-prepend input-group-text fa fa-search"></button>
                </div>
    
                <input type="search" class="form-control bg-light">
                <div class="input-group-append">
                    <a href="#" class="input-group-prepend input-group-text btn btn-sm">
                       <i class=" fa fa-filter"> F</i>ilter
                    </a>
                </div>
         </div>

         <div class="mt-3"></div>

        <!-- LOOP Starts -->
        
        <div class="shadow datasets-row">
            <div class="d-flex justify-content-between">
                <div class="d-flex col-2">
                    <div class="p-3 mt-4">
                        <img src="resources/logos/occupation.png">
                    </div>
                </div>
                <div class="d-flex col-7 mb-1">
                    <div class="p-2">
                        <h5 style="font-weight: 600;"> Cook </h5>
                        <a href="#" style="text-decoration: none;"> MANOJ KUMAR </a><br>
                        1.5 <span class="fa fa-star-o mr-4"></span>
                        5 <span class="fa fa-home"></span>Flats <br>
                        <span class="fa fa-sign-in"></span> 6.25 PM <br>
                        <a href="#" class="text-white mt-2 fa fa-phone badge badge-pill bg-secondary"> Call </a>
                        <a href="#" class="text-white mt-2 fa fa-address-card-o badge badge-pill bg-secondary"> GatePass </a>
                        <a href="#" class="text-white mt-2 fa fa-remove badge badge-pill bg-danger"> Remove </a>
                    </div>
                </div>
                <div class="d-flex col-2">
                    <div class="p-3">
                        <a href="#" style="text-decoration: none; font-size:25px;" class="fa fa-bell-o"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- LOOP Ends -->

        <div class="shadow mt-3 datasets-row">
                <div class="d-flex justify-content-between">
                    <div class="d-flex col-2">
                        <div class="p-3 mt-4">
                            <img src="resources/logos/driver.png">
                        </div>
                    </div>
                    <div class="d-flex col-7 mb-1">
                        <div class="p-2">
                            <h5 style="font-weight: 600;"> Driver </h5>
                            <a href="#" style="text-decoration: none;"> Shartaj Shigh </a><br>
                            4.5 <span class="fa fa-star mr-4"></span>
                            15 <span class="fa fa-home"></span>Flats <br>
                            <span class="fa fa-sign-out"></span> 9.00 AM <br>
                            <a href="#" class="text-white mt-2 fa fa-phone badge badge-pill bg-success"> Call </a>
                            <a href="#" class="text-dark mt-2 fa fa-address-card-o badge badge-pill bg-warning"> GatePass </a>
                            <a href="#" class="text-white mt-2 fa fa-remove badge badge-pill bg-danger"> Remove </a>
                        </div>
                    </div>
                    <div class="d-flex col-2">
                        <div class="p-3">
                            <a href="#" style="text-decoration: none; font-size:25px;" class="fa fa-bell"></a>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="mt-5 d-flex justify-content-center">
                <a style="font-size:80px; text-decoration:none;" href="#!dailyHelps" class="fa fa-plus-circle"></a>
            </div>


    </div>

    <div class="mt-5"></div>
    <br>
</div>

<style>
    .datasets-row:hover {
        background-color: rgb(235, 241, 241);

    }
</style>